<!DOCTYPE html>
<html>
<head>
    <title>Recipes Explorer</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="container">

    <h1>🍽 Recipes Explorer</h1>

    <!-- SEARCH BAR -->
    <div class="search-box">
        <input type="text" id="title" placeholder="Search recipe title...">
        <input type="number" id="rating" placeholder="Min rating">
        <button onclick="searchRecipes()">Search</button>
    </div>

    <!-- RESULTS -->
    <div id="results"></div>

</div>

<script>

async function searchRecipes() {

    const title = document.getElementById("title").value;
    const rating = document.getElementById("rating").value;

    let url = `/api/recipes/search?`;

    if(title) url += `title=${title}&`;
    if(rating) url += `min_rating=${rating}&`;

    const response = await fetch(url);
    const data = awaitrat response.json();

    const resultsDiv = document.getElementById("results");
    resultsDiv.innerHTML = "";

    data.forEach(recipe => {

        resultsDiv.innerHTML += `
            <div class="card">
                <h3>${recipe.title}</h3>
                <p><b>Cuisine:</b> ${recipe.cuisine || "N/A"}</p>
                <p><b>Rating:</b> ⭐ ${recipe.rating ?? "N/A"}</p>
                <p>${recipe.description || ""}</p>
            </div>
        `;
    });
}

</script>

</body>
</html>